.emojiIcon {
  cursor: pointer;
  margin-right: 8px;
  margin-left: 8px;
  font-size: 14px;
  line-height: 18px;
}

.emojiIcon:hover {
  cursor: pointer;
  margin-right: 1px;
  margin-left: 1px;
  font-size: 32px;
  line-height: 1px;
}

.tooltip {
  display: none;
}

.emojiIcon:hover ~ .tooltip {
  display: block;
  position: absolute;
  top: -40px;
  background: #161616;
  border-radius: 100px;
  padding: 4px 8px;
  margin-left: -3px;
}

.reactionName {
  font-size: 12px;
  line-height: 16px;
  color: white;
  letter-spacing: 0.32px;
}
